*{
    margin:0%;
    padding:0%;
}
.header
  {
      min-height: 100vh;
      width: 100%;
      background-image:linear-gradient(#04619f ,90%, #2074e2 );
      background-size: cover;
      background-position: center;
  }